<div class="container">
  <div class="row">
    <div class="col">
        <h2 class="text-center title-position">Update</h2>
          <form>
              <div class="form-group">
                  <label for="exampleFormControlInput1">Version</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Number of the version" [(ngModel)]="version" name="version">
              </div>
              <div class="form-group">
                  <label for="exampleFormControlInput1">URL</label>
                  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="URL of the new version" [(ngModel)]="url" name="url">
              </div>
              <div class="form-group">
                  <label for="comment">Content</label>
                  <textarea class="form-control" rows="5" id="comment" placeholder="Content of the new version" [(ngModel)]="content" name="content"></textarea>
                </div>
          </form>
          <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="updateClick()">Upload new update</button>
          <div *ngIf="status == 400">
              <div class="alert alert-danger" role="alert">
                  Error missing informations
              </div>
          </div>
          <div *ngIf="status == 200">
              <div class="alert alert-success" role="alert">
                  Success, new version has been upload
              </div>
          </div>
      </div>
  </div>
</div>